# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore Django database and migrations
db.sqlite3
*.sqlite3
*/migrations/*

# Ignore environment variables
.env

# Ignore IDE files
.vscode/
.idea/
